@media (max-width: 1000px) {
}

@media (max-width: 670px) {
  .navbar {
    display: none;
  }
  .header-right {
    display: none;
  }
  .menu-icon {
    color: #f7c873;
  }
  h1 {
    font-size: 30px;
  }
  .main .main-content h1 {
    font-size: 30px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 36px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 2px;
  }
  .main .main-content p {
    font-size: 18px;
    line-height: 22px;
  }

  .beli {
    text-align: center;
  }
  .book {
    width: 100%;
  }
  .book-form {
    height: 400px;
  }
}
